:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(135deg, #d40303, #a41c1a, #770202);
  color: #f6f7ff;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #d9d9d9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: -3rem;
  display: block;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3))
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:#f9f9f9;
  margin-bottom: -1rem;
}

h2 {
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d9d9d9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.time-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
  padding: 5rem 5rem 5rem 5rem;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35)
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;

  }

  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160 deg, #d40303, #ffffff, #);
  }
  
  .time-form {
  margin: 1.5rem -2.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  padding: 3rem ;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35)
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: -1.5rem;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3))
  padding: 0.5rem;
  border-radius: 12px;
}

 
  
  a:hover {
    color: #f6f7ff;
  }
  button {
    background-color: #f9f9f9;
  }
}
